<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.ibm.cic.agent.ui.commonCustomPanels">
      <commonPanel
            textClass="com.ibm.connections.install.ConsoleFilesViewerPanel"
            class="com.ibm.connections.install.FilesViewerPanel"
            id="com.ibm.connections.install.FilesViewerPanel">
         <wizardType
               type="INSTALL">
         </wizardType>
      </commonPanel>
   </extension>

</plugin>
