*.32 linguist-language=32 linguist-vendored=false
*.architecture linguist-language=Architecture linguist-vendored=false
*.assembly linguist-language=Assembly linguist-vendored=false
*.asy linguist-language=Asy linguist-vendored=false
*.automaticcleanup linguist-language=Automaticcleanup linguist-vendored=false
*.automount linguist-language=Automount linguist-vendored=false
*.bak linguist-language=Bak linguist-vendored=false
*.bat linguist-language=CMD Batch linguist-vendored=false
*.bit linguist-language=Bit linguist-vendored=false
*.build linguist-language=Build linguist-vendored=false
*.capilano linguist-language=Capilano linguist-vendored=false
*.cfg linguist-language=Config File linguist-vendored=false
*.classpath linguist-language=Classpath linguist-vendored=false
*.client linguist-language=Client linguist-vendored=false
*.cmd linguist-language=Cmd linguist-vendored=false
*.commandprompt linguist-language=Commandprompt linguist-vendored=false
*.compizvar linguist-language=Compizvar linguist-vendored=false
*.component linguist-language=Component linguist-vendored=false
*.conf linguist-language=Conf linguist-vendored=false
*.config linguist-language=Config linguist-vendored=false
*.css linguist-language=CSS linguist-vendored=false
*.db linguist-language=Db linguist-vendored=false
*.db2 linguist-language=Db2 linguist-vendored=false
*.default linguist-language=Default linguist-vendored=false
*.derbyjar linguist-language=Derbyjar linguist-vendored=false
*.dhcpenabled linguist-language=Dhcpenabled linguist-vendored=false
*.dir linguist-language=Dir linguist-vendored=false
*.diskquota linguist-language=Diskquota linguist-vendored=false
*.dll linguist-language=Dll linguist-vendored=false
*.dns linguist-language=Dns linguist-vendored=false
*.dom linguist-language=Dom linguist-vendored=false
*.dtd linguist-language=Dtd linguist-vendored=false
*.exe linguist-language=Exe linguist-vendored=false
*.expectlink linguist-language=Expectlink linguist-vendored=false
*.filepath linguist-language=Filepath linguist-vendored=false
*.filter linguist-language=Filter linguist-vendored=false
*.firefox linguist-language=Firefox linguist-vendored=false
*.fix linguist-language=Fix linguist-vendored=false
*.fqdn linguist-language=Fqdn linguist-vendored=false
*.freepagingspace linguist-language=Freepagingspace linguist-vendored=false
*.ftpusers linguist-language=Ftpusers linguist-vendored=false
*.gif linguist-language=Gif linguist-vendored=false
*.gitignore linguist-language=Git linguist-vendored=false
*.gz linguist-language=Gz linguist-vendored=false
*.head linguist-language=Head linguist-vendored=false
*.hostformat linguist-language=Hostformat linguist-vendored=false
*.html linguist-language=HTML linguist-vendored=false
*.ico linguist-language=Ico linguist-vendored=false
*.inc linguist-language=AWS Infra linguist-vendored=false
*.inf linguist-language=Inf linguist-vendored=false
*.ini linguist-language=Ini linguist-vendored=false
*.installationunit linguist-language=Installationunit linguist-vendored=false
*.iodevicestatus linguist-language=Iodevicestatus linguist-vendored=false
*.isinstalled linguist-language=Isinstalled linguist-vendored=false
*.itminstalled linguist-language=Itminstalled linguist-vendored=false
*.jacl linguist-language=Jacl linguist-vendored=false
*.jar linguist-language=Jar linguist-vendored=false
*.java linguist-language=Java linguist-vendored=false
*.jazzignore linguist-language=Jazzignore linguist-vendored=false
*.jpg linguist-language=Jpg linguist-vendored=false
*.js linguist-language=JavaScript linguist-vendored=false
*.json linguist-language=JSON linguist-vendored=false
*.kdb linguist-language=Kdb linguist-vendored=false
*.kernelmode linguist-language=Kernelmode linguist-vendored=false
*.kernelparameters linguist-language=Kernelparameters linguist-vendored=false
*.kernelversion linguist-language=Kernelversion linguist-vendored=false
*.ksh linguist-language=Ksh linguist-vendored=false
*.largefile linguist-language=Largefile linguist-vendored=false
*.ldlibpath linguist-language=Ldlibpath linguist-vendored=false
*.level linguist-language=Level linguist-vendored=false
*.lib linguist-language=Lib linguist-vendored=false
*.libpatch linguist-language=Libpatch linguist-vendored=false
*.locale linguist-language=Locale linguist-vendored=false
*.location linguist-language=Location linguist-vendored=false
*.loginvariable linguist-language=Loginvariable linguist-vendored=false
*.maximodirectory linguist-language=Maximodirectory linguist-vendored=false
*.maximodirowner linguist-language=Maximodirowner linguist-vendored=false
*.maximumprocesses linguist-language=Maximumprocesses linguist-vendored=false
*.md linguist-language=Markdown linguist-vendored=false
*.mf linguist-language=Mf linguist-vendored=false
*.mountcheck linguist-language=Mountcheck linguist-vendored=false
*.mozillaversion linguist-language=Mozillaversion linguist-vendored=false
*.nlsprops linguist-language=Nlsprops linguist-vendored=false
*.nsswitch linguist-language=Nsswitch linguist-vendored=false
*.num linguist-language=Num linguist-vendored=false
*.off linguist-language=Off linguist-vendored=false
*.package linguist-language=Package linguist-vendored=false
*.pagesize linguist-language=Pagesize linguist-vendored=false
*.patch linguist-language=Patch linguist-vendored=false
*.pdf linguist-language=Pdf linguist-vendored=false
*.ping linguist-language=Ping linguist-vendored=false
*.pingself linguist-language=Pingself linguist-vendored=false
*.pl linguist-language=Pl linguist-vendored=false
*.png linguist-language=Png linguist-vendored=false
*.port linguist-language=Port linguist-vendored=false
*.prefs linguist-language=Prefs linguist-vendored=false
*.product linguist-language=Product linguist-vendored=false
*.project linguist-language=Project linguist-vendored=false
*.properties linguist-language=Properties linguist-vendored=false
*.property linguist-language=Property linguist-vendored=false
*.pub linguist-language=Pub linguist-vendored=false
*.py linguist-language=Python linguist-vendored=false
*.pyc linguist-language=Pyc linguist-vendored=false
*.ramsize linguist-language=Ramsize linguist-vendored=false
*.range linguist-language=Range linguist-vendored=false
*.rdb linguist-language=Rdb linguist-vendored=false
*.rpm linguist-language=Rpm linguist-vendored=false
*.rsp linguist-language=Rsp linguist-vendored=false
*.rtf linguist-language=Rtf linguist-vendored=false
*.sax linguist-language=Sax linguist-vendored=false
*.selinux linguist-language=Selinux linguist-vendored=false
*.server linguist-language=Server linguist-vendored=false
*.servicepack linguist-language=Servicepack linguist-vendored=false
*.sh linguist-language=Bash linguist-vendored=false
*.shu linguist-language=Shu linguist-vendored=false
*.so linguist-language=So linguist-vendored=false
*.space linguist-language=Space linguist-vendored=false
*.sql linguist-language=Sql linguist-vendored=false
*.sshdconfig linguist-language=Sshdconfig linguist-vendored=false
*.sth linguist-language=Sth linguist-vendored=false
*.sufragment linguist-language=Sufragment linguist-vendored=false
*.swapsize linguist-language=Swapsize linguist-vendored=false
*.swidtag linguist-language=Swidtag linguist-vendored=false
*.template linguist-language=Template linguist-vendored=false
*.tmpdir linguist-language=Tmpdir linguist-vendored=false
*.txt linguist-language=Text File linguist-vendored=false
*.ulimit linguist-language=Ulimit linguist-vendored=false
*.umask linguist-language=Umask linguist-vendored=false
*.user linguist-language=User linguist-vendored=false
*.userlimits linguist-language=Userlimits linguist-vendored=false
*.vbs linguist-language=Vbs linguist-vendored=false
*.version linguist-language=Version linguist-vendored=false
*.windowmanager linguist-language=Windowmanager linguist-vendored=false
*.xerces linguist-language=Xerces linguist-vendored=false
*.xml linguist-language=Xml linguist-vendored=false
*.xml-frag linguist-language=Xml-frag linguist-vendored=false
*.xsd linguist-language=Xsd linguist-vendored=false
*.xsl linguist-language=Xsl linguist-vendored=false
*.zip linguist-language=Zip linguist-vendored=false
