<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.ibm.cic.agent.ui.commonCustomPanels">
      <commonPanel
            textClass="com.ibm.connections.install.ConsoleTopologyPanel"
            class="com.ibm.connections.install.TopologyPanel"
            id="com.ibm.connections.install.TopologyPanel">
         <wizardType
               type="INSTALL">
         </wizardType>
         <wizardType
               type="MODIFY">
         </wizardType>
         <wizardType
               type="UPDATE">
         </wizardType>
      </commonPanel>
   </extension>

</plugin>
